<div class="container py-3">
    <h3>Submissions</h3>

    {{> mod_coursework/submissions/table_filter }}

    <table class="table w-100">
        <caption class="sr-only">{{#str}}submissions_table, mod_coursework{{/str}}</caption>
        <thead>
            <tr>
                {{#isgroupsubmission}}
                    <th scope="col">{{#str}}group, mod_coursework{{/str}}</th>
                {{/isgroupsubmission}}
                {{^isgroupsubmission}}
                    <th scope="col">{{#str}}student, mod_coursework{{/str}}</th>
                {{/isgroupsubmission}}
                <th scope="col" class="w-25">{{#str}}submission, mod_coursework{{/str}}</th>
                <th scope="col" class="w-50">{{#str}}marking, mod_coursework{{/str}}</th>
                <th scope="col" class="text-right">{{#str}}actions, mod_coursework{{/str}}</th>
            </tr>
        </thead>

        <tbody id="table-body-rows">
        {{#tr}}
            {{> mod_coursework/submissions/tr }}
        {{/tr}}
        </tbody>
    </table>
</div>

