<tr class="mod-coursework-submissions-row"
    data-status="{{status}}"
    data-marker="{{{markerfilter}}}"
    data-allocateble-id="{{#submissiontype.user}}{{submissiontype.user.id}}{{/submissiontype.user}}{{#group}}{{group.id}}{{/group}}"
    data-allocatable-type="{{#submissiontype.user}}user{{/submissiontype.user}}{{#group}}group{{/group}}">

        {{! User. }}
        <td class="mod-coursework-submissions-user-col">
            {{> mod_coursework/submissions/tr/user}}
        </td>

        {{! Submission. }}
        <td class="mod-coursework-submissions-submission-col">
            {{> mod_coursework/submissions/tr/submissions}}
        </td>

        {{! Marking. }}
        <td class="mod-coursework-submissions-marking-col">
            {{> mod_coursework/submissions/tr/marking}}
        </td>

        {{! Actions. }}
        <td class="mod-coursework-submissions-action-col text-right">
            {{#actions}}
                {{> mod_coursework/submissions/tr/actions }}
            {{/actions}}
        </td>
</tr>
