{{! TODO PROTOTYPE TEMPLATE - NEEDS FINISHING WHEN REQUIREMENTS ESTABLISHED }}

<form style="max-width: 150px;">
<!--    <label for="decimal-places" class="d-block"><strong>{{#str}}decimalpoints, quiz{{/str}}</strong></label>-->
<!--    <input class="form-control" id="decimal-places" name="decimal-places" type="number" step="1" value="0">-->

    <label for="percent-rounding-strategy"><strong>Percent conversion</strong></label>
    <select id="percent-rounding-strategy" class="form-control">
        <option value="none" selected>No rounding</option>
        <option value="down">Round points down</option>
        <option value="up">Round points up</option>
        <option value="nearest">Round to nearest point</option>
    </select>
</form>