{{! called from templates/submissions/tr }}

<div class="dropdown coursework-actions">

    <button class="btn btn-outline-secondary btn-icon rounded-circle"
            type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-ellipsis-vertical"></i>
            <span class="sr-only">{{#str}} actions, mod_coursework {{/str}}</span>
    </button>

    <div class="dropdown-menu dropdown-menu-right" aria-label="{{#str}} actions, mod_coursework {{/str}}">

        {{#coursework.defaultduedate}}
            {{#coursework.personal_deadlines_enabled}}
                {{! Not editable if an extension exists for this user }}
                {{#personaldeadline}}
                    <a class="dropdown-item {{^is_editable}} disabled {{/is_editable}}"
                       href="{{config.wwwroot}}/mod/coursework/actions/personal_deadline.php?allocatableid={{#submissiontype.user}}{{submissiontype.user.id}}{{/submissiontype.user}}{{#group}}{{group.id}}{{/group}}&allocatabletype={{#submissiontype.user}}user{{/submissiontype.user}}{{#group}}group{{/group}}&courseworkid={{coursework.id}}"
                        data-action="mod-coursework-launch-modal-personal-deadline"
                        data-coursework-id="{{coursework.id}}"
                        data-allocatable-id="{{allocatableid}}"
                        data-allocatable-type="{{allocatabletype}}"
                        {{#deadlineid}}data-deadline-id="{{deadlineid}}"{{/deadlineid}}>

                        {{^is_editable}}<i class="fa fa-fw fa-lock mr-1"></i>{{/is_editable}}

                        {{#exists}}
                            {{#str}} personal_deadline, coursework {{/str}}
                            <small class="actions-extension-date-container {{#personaldeadline.date}}d-block{{/personaldeadline.date}} {{^personaldeadline.date}}d-none{{/personaldeadline.date}}">
                                <i class="fa-solid fa-circle-check text-{{#is_editable}}primary{{/is_editable}}{{^is_editable}}secondary{{/is_editable}} mr-2"></i>
                                <span class="actions-extension-date">
                                    {{#personaldeadline.date}}
                                        {{#userdate}}{{personaldeadline.date}},{{#str}}strftimedatetime, langconfig{{/str}}{{/userdate}}
                                    {{/personaldeadline.date}}
                                </span>
                            </small>
                        {{/exists}}

                        {{^exists}}{{#str}} personal_deadline, coursework {{/str}}{{/exists}}
                    </a>
                    <div class="dropdown-divider"></div>
                {{/personaldeadline}}
            {{/coursework.personal_deadlines_enabled}}

            {{#extension.show}}
                <a class="dropdown-item {{extension.class}}"
                   href="{{extension.url}}"
                   data-action="mod-coursework-launch-modal-extension"
                   data-coursework-id="{{coursework.id}}"
                   {{#extension.id}}data-extension-id="{{extension.id}}"{{/extension.id}}
                   data-allocatable-id="{{allocatableid}}"
                   data-allocatable-type="{{allocatabletype}}"
                >{{#str}} submissionextension, mod_coursework {{/str}}
                    <small class="actions-extension-date-container {{#extension.date}}d-block{{/extension.date}} {{^extension.date}}d-none{{/extension.date}}">
                        <i class="fa-solid fa-circle-check text-success mr-2"></i>
                        <span class="actions-extension-date">
                            {{#extension.date}}
                                {{#userdate}}{{extension.date}},{{#str}} strftimedatetime, langconfig {{/str}}{{/userdate}}
                            {{/extension.date}}
                        </span>
                    </small>
                </a>
                <div class="dropdown-divider"></div>
            {{/extension.show}}

        {{/coursework.defaultduedate}}

        {{#submission.url}}
            <a class="dropdown-item submit-on-behalf" href="{{submission.url}}">{{submission.label}}</a>
            <div class="dropdown-divider"></div>
        {{/submission.url}}

        {{#finalise}}
            <a class="dropdown-item submission-finalisation" data-action="finalise" data-student="{{studentname}}" href="{{finalise.url}}">{{#str}} finalise_submission, mod_coursework {{/str}}</a>
            <div class="dropdown-divider"></div>
        {{/finalise}}

        {{#unfinalise}}
             <a class="dropdown-item submission-finalisation" data-action="unfinalise" data-student="{{studentname}}" href="{{unfinalise.url}}">{{#str}} unfinalise_submission, mod_coursework {{/str}}</a>
            <div class="dropdown-divider"></div>
        {{/unfinalise}}

        {{#plagiarism.url}}
            <a class="dropdown-item" href="{{plagiarism.url}}"
               data-action="mod-coursework-launch-modal-plagiarism"
               data-coursework-id="{{coursework.id}}"
               data-allocatable-id="{{allocatableid}}"
               data-allocatable-type="{{allocatabletype}}"
               {{#plagiarism.flagid}}data-plagiarism-id="{{plagiarism.flagid}}"{{/plagiarism.flagid}}
               data-submission-id="{{submission.id}}"
            >{{#str}} plagiarism_action, mod_coursework {{/str}}
                {{#plagiarismstatus}}
                    <small class="d-block">
                        <i class="fa-solid fa-flag text-danger mr-2"></i>
                        <span class="sr-only">{{#str}} flagged_plagiarism, mod_coursework {{/str}}</span>
                        {{.}}
                    </small>
                {{/plagiarismstatus}}
            </a>
            <div class="dropdown-divider"></div>
        {{/plagiarism.url}}

        {{! Release mark - not implemented yet.}}
        <!--
        <a class="dropdown-item" href="#">{{#str}} release_mark, mod_coursework {{/str}}</a>
        -->
    </div>
</div>
