{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<form>
    <div class="custom-control custom-switch text-right">
        <input type="checkbox" {{#enterpercentgrades}} checked {{/enterpercentgrades}}
        class="custom-control-input" id="switch-entergradesaspercent">
        <label class="custom-control-label" for="switch-entergradesaspercent">
            <small>{{#str}}entergradesaspercent, coursework{{/str}}</small>
        </label>
    </div>
</form>
