{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coursework/marking/pdf

    Example context (json):
    {
        "pdfurl": "https://moodle.example.com/pluginfile.php/123/mod_coursework/submission/1/submission.pdf",
    }
}}

<div id="mod-coursework-pdf-container" class="mx-auto sticky-top">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active feedbackannotator_tabbutton"
               data-toggle="tab"
               data-feedbackid="original"
               role="tab"
               aria-selected="true"
               href="#feedbackannotator_original">
                {{#str}} submission, mod_coursework {{/str}}
            </a>
        </li>

        {{#feedbackannotators}}
            <li class="nav-item">
                <a class="nav-link feedbackannotator_tabbutton"
                   data-toggle="tab"
                   data-feedbackid="{{feedbackid}}"
                   role="tab"
                   aria-selected="false"
                   href="#feedbackannotator_{{feedbackid}}">
                    {{{label}}}
                </a>
            </li>
        {{/feedbackannotators}}
    </ul>


    <div class="tab-content">
        {{#pdfannotator}}
            <div class="tab-pane active" id="feedbackannotator_original" role="tabpanel">
                {{{pdfannotator}}}
            </div>
        {{/pdfannotator}}
        {{#feedbackannotators}}
            <div class="tab-pane" id="feedbackannotator_{{feedbackid}}" role="tabpanel">
                {{#mainanootatoreditable}}
                <button data-feedbackid="{{feedbackid}}"
                        class="btn btn-secondary copy_feedbackannotator">
                    {{#str}} copytosubmission, mod_coursework {{/str}}
                </button>
                {{/mainanootatoreditable}}
                {{{annotator}}}
            </div>
        {{/feedbackannotators}}
    </div>

    {{! Pdf iframe. }}
    {{#pdfurl}}
    {{! Submissions metadata. }}
        {{#submission}}
            {{> mod_coursework/submissions/tr/submissions }}
        {{/submission}}
        <div id="mod-coursework-pdf-wrapper">
            {{#pdfintro}}
                <p class="small">{{pdfintro}}</p>
            {{/pdfintro}}
            <iframe name="mod-coursework-pdf-iframe" src="{{{pdfurl}}}" loading="lazy"
                    title="{{#str}} pdfpreview, mod_coursework {{/str}}"></iframe>
        </div>
    {{/pdfurl}}
</div>
<script>
    document.querySelectorAll(".copy_feedbackannotator").forEach(elem => {
        elem.addEventListener("click", () => {
            var pdfjsinstanceid = document.querySelector('#feedbackannotator_original iframe').getAttribute('data-pdfjsinstanceid');
            var controller = window.viewerLib[pdfjsinstanceid];
            controller.PDFViewerApplication.open({
                        url: document.querySelectorAll("#feedbackannotator_" + elem.getAttribute('data-feedbackid') + ' [data-action="localpdfjs_viewfile"]')[0].dataset.annotatedfileurl
                    }
            );

            require(['mod_coursework/feedbacktabcontroller'], function (feedbacktabcontroller) {
                feedbacktabcontroller.setactivetab('original');
            });
        });
    });
</script>