{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coursework/feedback

    Template for displaying student feedback.

    Example context (json):
    {
        "title": "Feedback for Jan Černý",
        "feedbackcomment": "<div><p>This is the feedback</p></div>",
        "hasfeedbackfiles": true,
        "feedbackfileshtml": "<a href="foo">Feedbackfile.doc</a>",
        "hasadvancedgrading": true,
        "advancedgradinghtml": "<div>stuff from grading plugin - tables and kitchen sink html</div>",
        "markerimg": "https://randomuser.me/api/portraits/women/22.jpg",
        "markername": "Denise Soto"



    }
}}
<style>
/* General bubble styles (same as before, but added a top-left class for clarity) */
.chat-bubble-bordered {
  position: relative;
  background-color: white;
  border: 2px solid var(--primary);
  box-shadow: .3em .3em 0 0 var(--primary);
  padding: 1.5rem;
  margin-top: 25px; /* Added space at the top for the arrow */

}

/* Specific styles for the top-left arrow */
.chat-bubble-bordered.arrow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;  /* Base of the outer triangle */
  border-right: 1rem solid transparent; /* Base of the outer triangle */
  border-bottom: 1.1rem solid var(--primary); /* Color of the border, pointing up */
  top: -18px; /* Position above the bubble, accounting for border and triangle height */
  left: 1rem; /* Horizontal position from the left */
  z-index: 1;
}

.chat-bubble-bordered.arrow::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;  /* Slightly smaller base for inner triangle */
  border-right: 1rem solid transparent; /* Slightly smaller base for inner triangle */
  border-bottom: 1.1rem solid white; /* Match the body background to "cut out" */
  top: -15px; /* Position relative to the outer triangle */
  left: 1rem; /* Horizontal position, slightly offset to match outer */
  z-index: 2;
}
</style>

<div class="coursework-feedback py-3">
    <h3 class="h5">{{title}}</h3>

    <div class="py-3">
        {{#markername}}
        <div class="d-flex">
            {{#markerimg}}
                <div class="mr-2 bg-cover bg-light rounded-circle flex-shrink-0" style="background-image: url('{{markerimg}}'); height: 4rem; width: 4rem;"></div>
            {{/markerimg}}
            <div>
                <b>{{markername}}</b>
                <br>
                {{#userdate}}{{date}},{{#str}}strftimedatetime, langconfig{{/str}}{{/userdate}}
            </div>
        </div>
        {{/markername}}

        <div class="chat-bubble-bordered {{#markername}} arrow {{/markername}}">
            {{! Feedback Comment }}
            {{#feedbackcomment}}
            <div>
                {{{feedbackcomment}}}
            </div>
            {{/feedbackcomment}}

            {{! Feedback Files }}
            {{#hasfeedbackfiles}}
            <div>
                {{{feedbackfileshtml}}}
            </div>
            {{/hasfeedbackfiles}}

            {{#mark}}
                <hr>
                <div>
                    Mark
                    <br><span class="h4">{{{.}}}</span>
                </div>
            {{/mark}}
        </div>
    </div>


     {{! Advanced Grading }}
    {{#hasadvancedgrading}}
    <div class="py-3">
        <h3 class="h5">Marking critera feedback</h3>
        <div>
            {{{advancedgradinghtml}}}
        </div>
    </div>
    {{/hasadvancedgrading}}
</div>
<hr>

