{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coursework/feedback

    Template for displaying student feedback.

    Example context (json):
    {
        "title": "Feedback for Jan Černý",
        "feedbackcomment": "<div><p>This is the feedback</p></div>",
        "feedbackfileshtml": "<a href="foo">Feedbackfile.doc</a>",
        "advancedgradinghtml": "<div>stuff from grading plugin - tables and kitchen sink html</div>",
        "markerimg": "https://randomuser.me/api/portraits/women/22.jpg",
        "markername": "Denise Soto"
    }
}}

<div class="coursework-feedback animate-enter" data-behat-markstage="{{markingstage}}">
    {{#title}}
        <h3>{{title}}</h3>
    {{/title}}

    {{! Advanced grading. }}
    {{#advancedgradinghtml}}
    <div class="py-3">
        {{{.}}}
    </div>
    {{/advancedgradinghtml}}

    <div class="py-3">
        {{#markername}}
        <div class="d-flex align-items-center">
            {{#markerimg}}
                <div class="mr-2 bg-cover bg-light rounded-circle flex-shrink-0" style="background-image: url('{{markerimg}}'); height: 2rem; width: 2rem;"></div>
            {{/markerimg}}
            <div>
                {{markername}}
                {{#date}}
                <div class="small text-muted">
                    {{#userdate}}{{.}},{{#str}}strftimedatetime, langconfig{{/str}}{{/userdate}}
                </div>
                {{/date}}
            </div>
        </div>
        {{/markername}}

        <div class="{{#markername}} chat-bubble-bordered {{/markername}}">
            {{! Feedback comment. }}
            {{#feedbackcomment}}
            <div class="small text-muted">
                {{#str}} feedback, mod_coursework {{/str}}
            </div>
            <div id="behat-final-feedback-comment">
                {{{.}}}
            </div>
            {{/feedbackcomment}}

            {{! Feedback files. }}
            {{#feedbackfileshtml}}
            <div>
                {{{.}}}
            </div>
            {{/feedbackfileshtml}}

            {{#separator}}
                <hr>
            {{/separator}}

            {{#mark}}
                <div>
                    <div>{{#str}} mark, mod_coursework {{/str}}</div>
                    <div class="h4" id="behat-final-feedback-grade">
                        {{{.}}}
                    </div>
                </div>
            {{/mark}}
        </div>
    </div>


</div>
