<h2>{{{title}}}</h2>
<div class="row mt-1 mb-3 ml-1 mr-1">
    {{#deadlines}}
        <div class="col-4 p-1">
            <div class="badge badge-{{class}} mr-1">{{{label}}}</div>
            <small class="d-block">{{{value}}}</small>
        </div>
    {{/deadlines}}
</div>