{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coursework/general_feedback

    Template for displaying general feedback section (AKA "Insights")

    Example context (json):
    {
        "uservisible": true,
        "publicationdateunix": 1234567890,
        "content": "<div><p>This is the feedback</p></div>",
        "editable": true,
    }
}}

{{#uservisible}}
<div>
    <h4 class="h5">{{#str}} generalfeedback, mod_coursework {{/str}}</h4>
    {{#publishdate}}
        <p>
            <small class="text-muted">
                {{#str}} publishedtostudentsfrom, mod_coursework, {{#userdate}}{{.}}, {{#str}} strftimedatetime, langconfig {{/str}}{{/userdate}} {{/str}}
            </small>
        </p>
    {{/publishdate}}


    {{{feedback}}}

     {{#canedit}}
        <div>
            <a href="{{config.wwwroot}}/mod/coursework/actions/general_feedback.php?cmid={{cmid}}" class="btn btn-outline-primary btn-sm">
                <i class="fa-solid fa-pen-to-square mr-2"></i>
                {{#content}}{{#str}}insightsedit, coursework{{/str}}{{/content}}
                {{^content}}{{#str}}insightsadd, coursework{{/str}}{{/content}}
            </a>
        </div>
    {{/canedit}}
</div>
{{/uservisible}}
