{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coursework/intro

    Template for displaying coursework intro.

    Example context (json):
    {
        "description": "<p>This assignment requires you to write an essay of approximately 1500 words on the impact of social media on political discourse. Please refer to the marking guide for specific criteria.</p>\n<ul>\n<li>Ensure you cite your sources correctly using APA style.</li>\n<li>The deadline for submission is clearly indicated below.</li>\n</ul>",
        "markingguideurl": "https://example.moodle.org/pluginfile.php/123/mod_resource/content/0/marking_guide.pdf",
        "duedate": "14th May 11:00am",
        "late": true
    }
}}
<div class="row">

    {{! Due data. }}
    <div class="col">
        {{! Standard due date. }}
        {{#duedate}}
            <h3 class="h6">{{#str}} due, mod_coursework {{/str}}</h3>

            <p>{{#userdate}}{{.}},{{#str}}strftimedatetime, langconfig{{/str}}{{/userdate}}</p>

            {{#latesubmissionsallowed}}
            <p class="small">
                <i class="fa-solid fa-clock fa-lg text-success"></i>
                {{#str}} latesubmissionsallowed, mod_coursework {{/str}}
            </p>
            {{/latesubmissionsallowed}}
        {{/duedate}}

        {{! Extended due date. }}
        {{#deadlineextension}}
            <h3 class="h6">{{#str}} extended_deadline, mod_coursework {{/str}}</h3>
            <p>{{#userdate}}{{.}},{{#str}}strftimedatetime, langconfig{{/str}}{{/userdate}}</p>
        {{/deadlineextension}}

    </div>

    {{! Release data. }}
    {{#individualfeedbackmessage}}
        <div class="col-6">
            <h3 class="h6">{{#str}} individualfeedback, mod_coursework {{/str}}</h3>
            <p>{{.}}</p>
        </div>
    {{/individualfeedbackmessage }}

</div>

{{! Description. }}
<hr>
{{#description}}
<h3 class="h5">Description</h3>
{{{.}}}
{{/description}}

{{! Marking guide. }}
{{#markingguideurl}}
<p class="pt-3">
    <a href="{{{.}}}" target="_blank">
        <i class="fa-solid fa-circle-right mr-2"></i>
        Marking guide
    </a>
</p>
{{/markingguideurl}}

<hr>

{{! Test data output. }}
{{{table}}}
