<h3>{{{title}}}</h3>
{{#alert}}
    <div class="alert alert-warning">{{{alert}}}</div>
{{/alert}}
<div class="container">
    <div class="row bg-light p-3">
        <div class="col">
            <h3 class="h6">{{#str}}submission, coursework{{/str}}</h3>
            {{{submission}}}
        </div>
        <div class="col-4">
            <h3 class="h6">{{#str}}assessor, coursework{{/str}}</h3>
            {{{marker}}}
        </div>

        {{#lasteditedby}}
        <div class="col-4">
            <h3 class="h6">{{#str}}lasteditedby, coursework{{/str}}</h3>
            <ul>
                <li>{{{name}}}</li>
                <li>{{{date}}}</li>
            </ul>
        </div>
        {{/lasteditedby}}
    </div>
</div>
