<h3>{{{title}}}</h3>
{{#alert}}
    <div class="alert alert-warning">{{{alert}}}</div>
{{/alert}}
<div class="container">
    <div class="row bg-light p-3">
        <div class="col">
            <h3 class="h6">Submission</h3>
            {{{submission}}}
        </div>
        <div class="col-4">
            <h3 class="h6">Marker</h3>
            {{{marker}}}
        </div>

        {{#lastmarked}}
        <div class="col-4">
            <h3 class="h6">Last marked</h3>
            {{{lastmarked}}}
        </div>
        {{/lastmarked}}
    </div>
</div>