<div class="filebuttons">
    {{#pdfs}}
        <button class="btn btn-primary" data-href="{{{href}}}"
                data-action="modcoursework_viewfile">Load file {{filename}}</button>
    {{/pdfs}}
</div>

<iframe id="modcoursework_pdf" class="d-none" style="height: 1000px; width: 100%;"></iframe>

<script type="module">
    var controller = {
        loadpdf: async function(url) {
            const iframe = document.querySelector('#modcoursework_pdf');
            iframe.setAttribute("src", "https://moodlefour5.local.test/mod/coursework/lib/pdfjs/web/viewer.html?file=" + url);
            iframe.classList.remove("d-none");
        },
    };

    document.querySelector('[data-action="modcoursework_viewfile"]')
            .addEventListener("click", async (event) => {
                await controller.loadpdf(event.target.dataset.href).promise;
            });
</script>
