
{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coursework/submission_page

    Example context (json):
    {
        "title": "Submission",
        "markingguide": "<a href='...'>Marking Guide</a>",
        "plagiarism": "<div>Plagiarism warning</div>",
        "late": true,
        "finalise": true,
        "form": "<form>...</form>"
    }
}}

<h3>{{{title}}}</h3>

{{{markingguide}}}

{{{plagiarism}}}

{{#late}}
    <div class="alert alert-warning">
        <div class="badge badge-pill badge-warning">
            {{#str}} late, mod_coursework {{/str}}
        </div>
        <br>
        {{#str}} late_submissions_warning, mod_coursework {{/str}}
    </div>
{{/late}}

{{#finalise}}
    <div class="alert alert-info">
        {{#str}} finalise_button_info, mod_coursework {{/str}}
    </div>
{{/finalise}}

{{{form}}}
