{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coursework/submission

    Template for displaying submission overview to learner.

    Example context (json):
    {
        "default": true,
        "date": "24th Dec 3:00pm",
        "mark": "33%"
    }
}}
<div class="bg-light p-3">
    <h3 class="h5" id="submission-title">Submission</h3>

    {{#nogroup}}
    <p>{{#str}} not_in_any_group_student_warning, mod_coursework {{/str}}</p>
    {{/nogroup}}

    {{! Submission is not open till startdate. }}
    {{#startdate}}
    <p>Submissions open on {{startdate}}.<p>
    {{/startdate}}

    {{#cansubmit}}

    {{! Submiison file. }}
    {{{file}}}

    <ul class="w-100 list-unstyled" aria-labelledby="submission-title">
        <li class="d-flex py-1">
            Status
            <span class="ml-auto">
                {{status}}
            </span>
        </li>

        {{#group}}
        <li class="d-flex py-1">
            Submitted by
            <span class="ml-auto">
                {{{submitter}}}
            </span>
        </li>
        {{/group}}

        <li class="d-flex py-1 border-top">
            Submitted
            <span class="ml-auto">
                {{date}}
                {{#late}}
                <span class="badge badge-warning">Late</span>
                {{/late}}
            </span>
        </li>
         <li class="d-flex py-1 border-top">
            Mark
            <span class="ml-auto">{{mark}}</span>
        </li>
    </ul>



    {{! Add/Edit submission. }}
    {{#editurl}}
    <a href="{{{editurl}}}" class="btn btn-primary btn-block"><i class="fa-solid fa-upload mr-2"></i>Add/Edit submission</a>
    {{/editurl}}

    {{! Finalise submission. }}
    {{#final}}
        <hr>
        <div id="coursework-finalise-submission">
        <h3 class="h5">Finalise submission</h3>
            {{{.}}}
        </div>
    {{/final}}

    {{! TODO - Feedback - probably should be somewhere else? }}
    {{#feedback}}
        <hr>
        <h1>What is this?</h1>
        {{{.}}}
    {{/feedback}}

    {{/cansubmit}}
</div>

<h1>test data</h1>
{{! TODO - plagarism stuff - whats does it output? }}
<h2>plagdisclosure<h2>
{{{plagdisclosure}}}
<h2>shouldseeeula<h2>
{{{shouldseeeula}}}
<h2>tiienabled</h2>
{{{tiienabled}}}
