<form id="allocation_form" class="p-3 bg-light" method="post">

    <label for="assessorallocationstrategy" class="h5">
    {{#str}} allocationstrategy, mod_coursework {{/str}}</label>
    <select id="assessorallocationstrategy" name="assessorallocationstrategy" class="form-control mb-3" aria-label="Allocation strategy selector">
    {{#strategy}}
        <option value="{{{value}}}" {{#selected}} selected {{/selected}}>{{{string}}}</option>
    {{/strategy}}
    </select>

    <div class="assessor-strategy-options-configs">
        {{{strategyoptionshtml}}}
    </div>

    <div id="coursework_input_buttons">
        <input name="save"
                type="submit"
                id="save_assessor_allocation_strategy"
                class="coursework_assessor_allocation btn btn-primary"
                value="{{#str}} apply {{/str}}">
    </div>

</form>