{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coursework/allocate/allocationwidget

    Template for the allocation strategy widget.

    Example context (json):
    {
        "strategy": [{"value": "none", "string": "Manual allocation", "selected": true}],
        "strategyoptionshtml": "<div>Strategy-specific options HTML</div>"
    }
}}
<form id="allocation_form" class="p-3 bg-light" method="post">

    <label for="assessorallocationstrategy" class="h5">
    {{#str}} allocationstrategy, mod_coursework {{/str}}</label>
    <select id="assessorallocationstrategy" name="assessorallocationstrategy" class="form-control mb-3" aria-label="Allocation strategy selector">
    {{#strategy}}
        <option value="{{{value}}}" {{#selected}} selected {{/selected}}>{{{string}}}</option>
    {{/strategy}}
    </select>

    <div class="assessor-strategy-options-configs">
        {{{strategyoptionshtml}}}
    </div>

    <div id="coursework_input_buttons">
        <input name="save"
                type="submit"
                id="save_assessor_allocation_strategy"
                class="coursework_assessor_allocation btn btn-primary"
                value="{{#str}} apply {{/str}}">
    </div>

</form>