<div class="container">
    <h2>Allocate markers</h2>

    {{{warnings}}}

    <div class="row">
        <div class="col-md-4">
            {{{samplingwidget}}}
            {{{allocationwidget}}}
        </div>

        <div class="col-md-8">
            <h3 class="h4">{{#str}} markermoderatormarks, mod_coursework {{/str}}</h3>
            <small>{{#str}} allocatetableinstructions, mod_coursework {{/str}}</small>

            {{{table}}}
        </div>
    </div>
</div>