<div class="container">
    <h2>{{#str}} allocatemarkers, mod_coursework {{/str}}</h2>

    {{{warnings}}}

    <div class="row">
        <div class="col-md-4">
            {{{allocationwidget}}}
        </div>

        <div class="col-md-8">
            {{{samplingwidget}}}

            <div class="my-3">
                <h3 class="h4">{{#str}} markermoderatormarks, mod_coursework {{/str}}</h3>
                <small>{{#str}} allocatetableinstructions, mod_coursework {{/str}}</small>
                {{{table}}}
            </div>
        </div>
    </div>
</div>