<div class="container">
    <h2>Allocate markers</h2>

    {{warnings}}
    <div class="row">
        <div class="col-4">
            {{{allocation}}}
        </div>

        <div class="col-8">
            <h4>{{#str}} assessormoderatorgrades, mod_coursework {{/str}}</h4>
            <small>{{#str}} pininfo, mod_coursework {{/str}}</small>

            {{{table}}}
        </div>
    </div>
</div>
