{{! Note - this file is temporary and will be changed in https://ucldata.atlassian.net/browse/CTP-5257 }}
{{! Also note that under CTP-5323, the JS validation code at end of this template has been removed as it contained eval(). }}
{{! When the temporary file is changed, please check if any validation code needs adding back in }}

<div class="p-3 mb-3 bg-light">
    <h3 class="h5">{{#str}} samplingstrategy, mod_coursework {{/str}}</h3>

    <div class="sampling-rules">
        <div class="sampling-select">
            {{{scaleinput}}}

            <table class="table sampling">
                <thead>
                    <tr>
                        {{#headers}}
                            <th scope="col">{{{.}}}</th>
                        {{/headers}}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{#columns}}
                            <td>{{{html}}}</td>
                        {{/columns}}
                    </tr>
                </tbody>
            </table>

            <input name="save_sampling"
                   type="submit"
                   id="save_manual_sampling"
                   class="btn btn-primary"
                   value="{{#str}}save{{/str}}">
        </div>
    </div>
</div>
